body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

#container {
  display: grid;
  place-items: center;
}

#timer,
#instruction,
#indicator {
  text-align: center;
  margin-bottom: 20px;
  color: aliceblue;
}

#indicator.active {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#error-message {
  padding-top: 20px;
}

#record-indicator {
  width: 80px;
  height: 40px;
  background-color: rgb(48, 48, 48);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  border: 2px solid white;
  font-weight: bold;
}

#record-indicator.recording {
  background-color: #e71717;
}
